@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/NotoSerif-Regular.ttf);
}

@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/NotoSerif-Italic.ttf);
}

@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/NotoSerif-Bold.ttf);
}

@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: bold;
  src: url(../fonts/NotoSerif-BoldItalic.ttf);
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/RobotoMono-Italic.ttf);
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/RobotoMono-Bold.ttf);
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: bold;
  src: url(../fonts/RobotoMono-BoldItalic.ttf);
}
